* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  padding: 0;
}


/* Task 1 */
.list {
  background-color: #ffffff;
  border-radius: 8px;
  display: inline-flex;
  padding: 24px 24px 0;
  flex-direction: column;
  align-items: flex-start;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  margin-bottom: 24px;
  max-width: 392px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.item-note {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.item-note:not(:last-child) {
  margin-bottom: 8px;
}


/* Task 2 */
 .gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1128px;
  height: 848px;
   list-style: none;
   justify-content: center;
  margin: 24px auto;
   gap: 48px 24px;
 }



 .gallery-item img {
   width: 360px;
   height: 300px;
   flex-shrink: 0;
   object-fit: cover;
 }
  /* Task 3 */
  
  .plate {
  width: 360px;
  height: 40px;
  border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 16px;
  }
.title {
  color: #2E2F42;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.04em;
}


  /* Task 4 */
    .login-form {
      display: flex;
      flex-direction: column;
      max-width: 408px;
      margin: 0 auto;
      padding: 24px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  
 
    .form-email {
      margin-bottom: 8px;
      display: flex;
        width: 360px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .form-password {
      margin-bottom: 16px;
      display: flex;
        width: 360px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    .button {
    display: flex;
    padding: 8px 16px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
      background: #4E75FF;
    }

  /* Task 5  */
    .widget {
      text-align: center;
      margin: 50px auto;
    }
  
    .color {
      color: #2E2F42;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.04em;
    }
  
    button.change-color {
      width: 148px;
      padding: 8px 16px;
      background: #4E75FF;
      color: white;
      font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.04em;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }


    /* Task 6 */

        .build {
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          width: 534px;
          height: 328px;
          background-color: #ffffff;
          border-radius: 8px;
        }

.start-build {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
  width: 486px;
}
.result-build {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  background: #f6f6fe;
  width: 486px;
  height: 160px;
  flex-wrap: wrap;
}

        .number-one {
  padding: 8px 72px;
  border-radius: 8px;
    border: 1px solid #808080;
        }

        .number-two {
  width: 120px;
  padding: 8px 16px;
  border-radius: 8px;
    background: #4E75FF;
        }

        .number-three {
width: 120px;
  padding: 8px 16px;
  border-radius: 8px;
    background: #FF4E4E;
        }

